.background{
   transform: translateZ(-40px) scale(5.2); 
   
}
.foreground{
    transform: translateZ(-20px) scale(3);
}
#wrapper{
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    display: flex;
    position: relative;
    height: 100%;
    z-index: -1;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;

}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;

}
h1{
    position:absolute;
    top:2rem;
   
    font-family: poppins,"sans-serif";
    font-weight: 700;
    font-stretch: expanded;
    font-size: 120px;
    text-shadow: 2px 2px 5px grey;
    color: white;
    font-style: normal;
    letter-spacing: 4px;
}

section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 5rem;
    

}

.bg1{
    background-image: url(https://codehelp-parallax-website.netlify.app/assets/sport-1.jpg);
}

.bg2{
    background-image: url(https://codehelp-parallax-website.netlify.app/assets/sport-2.jpg);
}

.bg3{
    background-image: url(https://codehelp-parallax-website.netlify.app/assets/sport-3.jpg);
}

#sec-head{
    font-size: 4rem;
    font-weight: 600;
    color: white;
    text-align: center;
}

.text{
    font-size: 1.5rem;
    padding: 1rem;
}

.bg{
    position: relative;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.desc{
    /* position: absolute; */
    background-color: white;
    font-size: 1.5rem;
    color: black;
    padding: 0.9rem 1rem;
    top: 30%;
    left: 40%;
    font-size: 40px;
    height: 30px;
    


    
}

.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
}
